<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="field">
    <%= f.label :option1 %>
    <%= f.text_field :option1 %>
  </div>

  <div class="field">
    <%= f.label :option2 %>
    <%= f.text_field :option2 %>
  </div>

  <div class="field">
    <%= f.label :option3 %>
    <%= f.text_field :option3 %>
  </div>

  <div class="field">
    <%= f.label :option4 %>
    <%= f.text_field :option4 %>
  </div>

  <div class="field">
    <%= f.label :option5 %>
    <%= f.text_field :option5 %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
    <%= f.number_field :category_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
