- aggregated_responses = question.aggregated_responses_for_school(@school)
- return if aggregated_responses.nil?

.col-12.col-md-6.py-3
  .question.p-2{id: "question-#{question.id}"}
    %p.question-text.pt-3.px-2
      = question.text

    .row.pt-2
      .col-4.indicator-container.centered
        = render 'school_categories/indicator', info: aggregated_responses, small: true

      .col-8
        %p
          %b Total Responses:
          = aggregated_responses.count
        %p
          %b Most Popular:
          = truncate(aggregated_responses.most_popular_answer, length: 27)
        %p
          %b Source:
          = question.source.titleize

    .clearfix

    .show-hide.px-2
      %p
        %a{"aria-controls" => "histogram#{question.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#histogram#{question.id}"}
          Histogram
        &nbsp;&nbsp;|&nbsp;&nbsp;
        %a{"aria-controls" => "raw-data#{question.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#raw-data#{question.id}"}
          Raw Data

      .collapse{id: "histogram#{question.id}"}
        = render 'shared/histogram', data: aggregated_responses

      %p.collapse{id: "raw-data#{question.id}"}
        = aggregated_responses.responses.map(&:answer_index).join(', ')
