%p#notice= notice
%p
  %strong Text:
  = @question.text
%p
  %strong Option1:
  = @question.option1
%p
  %strong Option2:
  = @question.option2
%p
  %strong Option3:
  = @question.option3
%p
  %strong Option4:
  = @question.option4
%p
  %strong Option5:
  = @question.option5
%p
  %strong Category:
  &nbsp;
  - if @question.category.present?
    = render partial: 'categories/full_path', locals: {category: @question.category}
  - else
    No Category

= link_to 'Edit', edit_question_path(@question)
|
= link_to 'Back', questions_path


%br
%br
%br
%h4
  Results For
  = @school.name
= render @question
