<div class="mt-5 school-quality-frameworks">
  <% category_presenters.each do |category_presenter| %>
    <div class="text-center">
      <i class="fa fa-<%= category_presenter.icon %> fa-2x color-gray-2"></i>
    </div>
    <div class="text-center">
      <h3 class="sub-header-3">
        <%= link_to [@district, @school, category_presenter.category, { year: @academic_year.range }] do %>
          <%= category_presenter.name %>
        <% end %>
      </h3>
    </div>

    <p class="body-small text-center"><%= category_presenter.description %></p>

    <div>
      <div class="subcategory-card border-radius-8">
        <div class="subcategory-card__benchmark-list">
          <% category_presenter.subcategories.each do |subcategory| %>
            <%= render partial: 'subcategory_card', locals: { presenter: subcategory.subcategory_card_presenter, subcategory: subcategory } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
