<h1><%= @school.name %></h1>

<div class="fdr fjb fac">
  <h2 class="h1">Areas Of Interest</h2>
  <div class="fdr">
    <select class="ml-3 custom-select-lg" name="academic-year">
      <option value="<%= @academic_year %>" selected><%= format_academic_year(@academic_year) %></option>
    </select>

    <select class="ml-3 custom-select-lg" name="district">
      <option value="<%= @district.slug %>" selected><%= @district.name %></option>
    </select>

    <select class="ml-3 custom-select-lg" name="school">
      <option value="<%= @school.slug %>" selected><%= @school.name %></option>
    </select>
  </div>
</div>

<div class="bg-beige mt-4 p-5">

  <div>
    <h2 class="h1 red">Distance from benchmark</h2>
    <p class="body-large">This graph shows how much a score is above or below the benchmark of any given scale.</p>
  </div>

  <%= render partial: "measure_bar_graph", locals: { measure_graph_row_presenters: @measure_graph_row_presenters } %>

</div>
