<h1><%= @school.name %></h1>

<div class="beige-bg" style="padding: 80px 120px;">
  <div class="fdr fjb fac">
    <h2 class="h1">Areas Of Interest</h2>
    <div>
      <select name="academic-year">
        <option value="<%= @academic_year %>" selected><%= format_academic_year(@academic_year) %></option>
      </select>

      <select name="district">
        <option value="<%= @district.slug %>" selected><%= @district.name %></option>
      </select>

      <select name="school">
        <option value="<%= @school.slug %>" selected><%= @school.name %></option>
      </select>
    </div>
  </div>

  <div>
    <h2 class="h1 red">Distance from benchmark</h2>
    <p class="p">This graph shows how much a score is above or below the benchmark of any given scale.</p>
  </div>

  <%= render  partial: "construct_bar_graph", locals: {construct_graph_row_presenters: @construct_graph_row_presenters}%>

</div>
