<div
  class="overall-response-rate-container"
  data-bs-toggle="popover"
  data-bs-trigger="hover focus"
  data-bs-content="<%= response_rate_presenter.hover_message %>"
  data-bs-placement="top"
>
  <div><%= response_rate_presenter.date_message  %> </div>
  <div style="display: flex; justify-content:space-between; width: 100px;">
  <div><%= response_rate_presenter.focus.capitalize %> </div>
  <%= render partial: "response_rate_graphic", locals: {response_rate_presenter: response_rate_presenter}, cached: true %>
  <div><%= response_rate_presenter.percentage %>% </div>
  </div>
</div>
