%p#notice= notice
%h1 Question Lists
%table
  %thead
    %tr
      %th Name
      %th Description
      %th Question ids
      %th{:colspan => "3"}
  %tbody
    - @question_lists.each do |question_list|
      %tr
        %td= question_list.name
        %td= question_list.description
        %td= question_list.question_ids
        %td= link_to 'Show', question_list
        %td= link_to 'Edit', edit_question_list_path(question_list)
        %td= link_to 'Destroy', question_list, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Question List', new_question_list_path
