%p#notice= notice
%p
  %strong Name:
  = @question_list.name
%p
  %strong Description:
  = @question_list.description

%p
  = link_to 'Edit', edit_question_list_path(@question_list)
  |
  = link_to 'Back', question_lists_path

%br
%br

%p
  %strong Questions:
  - @question_list.questions.each do |question|
    %p= link_to question.text, question
