<div class="d-flex align-items-center mx-5">
  <input
    id="<%= id %>"
    class="m-3  form-check-input"
    type="checkbox"
    name="<%= "#{name}#{index}"  %>-checkbox"
    value="<%= item  %>"
    <%= selected_items.include?(item)  ? "checked" : "" %>
    >
  <label for="<%= id %>" >
    <%= label_text %>
  </label>
</div>
