
  <h3 class="sub-header-4">Focus Area</h3>
  <p>Select a category & subcategory to analyze measure-level results</p>

<%= form_with(url: district_school_analyze_index_path,
              method: :get,
              data: {
              turbo_frame: "results",
              turbo_action: "advance",
              controller: "analyze",
              action: "input->analyze#submit"
              }) do |f| %>

  <%  params.reject{|key,_| key.start_with?("category") || key.start_with?("subcategory")}.each do |key, value|  %>
    <input type="hidden" id="year" name="<%= key  %>" value="<%= value %>">
  <% end %>

  <select id="select-category" class="mx-3 form-select" name="category" data-id="category-dropdown">
    <% categories.each do |category| %>
      <option value="<%= category.category_id %>" <%= category.category_id == @presenter.category.category_id ? "selected": "" %>><%= "#{category.category_id}: #{category.name}" %></option>
    <% end %>
  </select>
<% end %>

<%= form_with(url: district_school_analyze_index_path,
              method: :get,
              data: {
              turbo_frame: "results",
              turbo_action: "advance",
              controller: "analyze",
              action: "input->analyze#submit"
              }) do |f| %>
  <%  params.each do |key, value|  %>
    <input type="hidden" id="year" name="<%= key  %>" value="<%= value %>">
  <% end %>

  <select id="select-subcategory" class="mx-3 form-select mt-3" name="subcategory" data-id="subcategory-dropdown">
    <% subcategories.each do |subcategory| %>
      <option value="<%= subcategory.subcategory_id %>" <%= subcategory.subcategory_id == @presenter.subcategory.subcategory_id ? "selected": "" %>>
      <%= "#{subcategory.subcategory_id}: #{subcategory.name}" %>
      </option>
    <% end %>
  </select>
<% end %>
