<select id="select-group" name="group" class="mx-4 form-select" data-id="group-dropdown" data-action="analyze#refresh">
  <% @groups.each do |group| %>
    <option id="<%= group.slug %>" name="group-option" value="<%= base_url %>" <%= group.slug == @group.slug ? "Selected": "" %>><%= group.name %> </option>
  <% end %>
</select>

<p class="sub-header-5 mx-4 mt-3 font-size-14"> Select a group </p>

<% @races.each do |race| %>
  <div class="d-flex align-items-center mx-5">
    <input
        id="<%= race.slug %>"
        class="m-3 race-checkbox form-check-input"
        type="checkbox"
        name="race-checkbox"
        value="<%= base_url %>"
        data-action="click->analyze#refresh"
        <%= @selected_races.map(&:slug).include?(race.slug)  ? "checked" : "" %>
        <%= @graph.slug == 'students-and-teachers' || @source.slug == 'all-data' ? "disabled" : "" %>
        <%= @group.slug == 'race' ? "" : "hidden" %>>

        <label for="<%= race.qualtrics_code %>"
          <%= @group.slug == 'race' ? "" : "hidden" %>>
          <%= race.designation %>
        </label>
  </div>
<% end %>

<% @grades.each do |grade| %>
  <div class="d-flex align-items-center mx-5">
    <input
        id="grade-<%= grade %>"
        class="m-3 grade-checkbox form-check-input"
        type="checkbox"
        name="grade-checkbox"
        value="<%= base_url %>"
        data-action="click->analyze#refresh"
        <%= @selected_grades.include?(grade)  ? "checked" : "" %>
        <%= @graph.slug == 'students-and-teachers' || @source.slug == 'all-data' ? "disabled" : "" %>
        <%= @group.slug == 'grade' ? "" : "hidden" %>>

        <label for="grade-<%= grade %>"
          <%= @group.slug == 'grade' ? "" : "hidden" %>>
          <%= grade %>
        </label>
  </div>
<% end %>

<% @genders.each do |gender| %>
  <div class="d-flex align-items-center mx-5">
    <input
        id="gender-<%= gender.designation %>"
        class="m-3 gender-checkbox form-check-input"
        type="checkbox"
        name="gender-checkbox"
        value="<%= base_url %>"
        data-action="click->analyze#refresh"
        <%= @selected_genders.include?(gender)  ? "checked" : "" %>
        <%= @graph.slug == 'students-and-teachers' || @source.slug == 'all-data' ? "disabled" : "" %>
        <%= @group.slug == 'gender' ? "" : "hidden" %>>

        <label for="gender-<%= gender %>"
          <%= @group.slug == 'gender' ? "" : "hidden" %>>
          <%= gender.designation %>
        </label>
  </div>
<% end %>
