<h3 class="sub-header-4 mt-5">School Years</h3>
<% available_academic_years.each_with_index do | year, index | %>
  <div class="d-flex justify-content-start align-items-center mt-1" data-controller="analyze">
    <input type="checkbox"
    class="form-check-input"
    id="<%= year.range %>"
    name="year-checkbox"
    value="<%= analyze_subcategory_link(district: district, school: school, academic_year: academic_year, category: category, subcategory: subcategory) %>"
    <%= selected_academic_years.include?(year)  ? "checked" : "" %>
    data-action="click->analyze#refresh"
    <%= empty_dataset?(measures: measures, school: school, academic_year: year) ? "disabled" : "" %>
    <%= @graph.value == 'students-by-group' && year.range != @available_academic_years.last.range ? "disabled" : "" %>>

    <label class="px-3" for="<%= year.range %>"><%= year.range %></label><br>
    <div class="bg-color-blue px-3" style="width:20px;height:20px;background-color:<%= colors[index] %>;"></div>
    <% if empty_dataset?(measures: measures, school: school, academic_year: year) %>
      <i class="fa-solid fa-circle-exclamation px-3"
        data-bs-toggle="popover" data-bs-placement="right"
        data-bs-content="Teacher and student survey response rates below <%= ResponseRateCalculator::TEACHER_RATE_THRESHOLD %>%">
      </i>
    <% end %>
  </div>
<% end %>
