<% content_for :title do %>
  <h1 class="sub-header-2 color-white m-0"> Analysis of <%= @school.name %> </h1>
<% end %>

<div class="graph-content">
  <div class="breadcrumbs sub-header-4">
    <%= @category.category_id %>:<%= @category.name %> > <%= @subcategory.subcategory_id  %>:<%= @subcategory.name %>
  </div>
  <hr/>
  <% @measures.each do  |measure|%>
  <section class="mt-6" >
    <p class="construct-id">Measure <%= measure.measure_id %></p>
    <h2> <%= measure.name %> </h2>

  <div class="mt-6">
    <%= render partial: "grouped_bar_chart" , locals: { measure: measure} %>
  </div>

  </section>
  <% end %>
</div>
