%p#notice= notice
%p
  %b Name:
  = @schedule.name
%p
  %b Description:
  = @schedule.description
%p
  %b School:
  = link_to(@school.name, school_admin_path(@school))
%p
  %b Frequency hours:
  = frequency_description(@schedule.frequency_hours)
%p
  %b Start date:
  = @schedule.start_date
%p
  %b End date:
  = @schedule.end_date
%p
  %b Active:
  = @schedule.active
%p
  %b Random:
  = @schedule.random
%p
  %b Recipient list:
  = link_to(@schedule.recipient_list.name, [@school, @schedule.recipient_list])
%p
  %b Question list:
  = link_to(@schedule.question_list.name, @schedule.question_list)

= link_to 'Edit', edit_school_schedule_path(@schedule.school, @schedule)
|
= link_to 'Back', school_schedules_path(@schedule.school)
