<%= form_for(recipient) do |f| %>
  <% if recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% recipient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :birth_date %>
    <%= f.date_select :birth_date %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :race %>
    <%= f.text_field :race %>
  </div>

  <div class="field">
    <%= f.label :ethnicity %>
    <%= f.text_field :ethnicity %>
  </div>

  <div class="field">
    <%= f.label :home_language_id %>
    <%= f.number_field :home_language_id %>
  </div>

  <div class="field">
    <%= f.label :income %>
    <%= f.text_field :income %>
  </div>

  <div class="field">
    <%= f.label :opted_out %>
    <%= f.check_box :opted_out %>
  </div>

  <div class="field">
    <%= f.label :school_id %>
    <%= f.number_field :school_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
