<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @recipient.phone %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @recipient.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @recipient.gender %>
</p>

<p>
  <strong>Race:</strong>
  <%= @recipient.race %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @recipient.ethnicity %>
</p>

<p>
  <strong>Home language:</strong>
  <%= @recipient.home_language_id %>
</p>

<p>
  <strong>Income:</strong>
  <%= @recipient.income %>
</p>

<p>
  <strong>Opted out:</strong>
  <%= @recipient.opted_out %>
</p>

<p>
  <strong>School:</strong>
  <%= @recipient.school_id %>
</p>

<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
