<header class="row py-4 align-items-center">
  <div class="col">
      <%= link_to image_tag('logo.png', class: 'height-56'), root_path %>
      <a class="h3" href="/districts/<%= @district.slug %>/schools/<%= @school.slug %>/dashboard?year=2020-21">Dashboard</a>
      <a class="h3" href="/districts/<%= @district.slug %>/schools/<%= @school.slug %>/browse/teachers-and-leadership?year=2020-21">Browse</a>
  </div>
</header>
