<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
  <link href="https://fonts.googleapis.com/css?family=Bitter:400,600,700" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,700" rel="stylesheet" type="text/css"/>
  <title>MCIEA</title>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'sqm_application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-132936999-1" type="javascript"></script>
  <script type="javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-132936999-1');
  </script>
</head>

<body>

<div>
  <%= render partial: 'layouts/sqm/header' %>
</div>

<div class="bg-color-light-blue">
  <div class="container">
    <div class="row">
      <div class="col mt-7">
        <%= yield %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= render partial: 'layouts/sqm/footer' %>
</div>

<%= render partial: 'layouts/sqm/empty_dataset_modal' if @has_empty_dataset %>

</body>
</html>
