%p#notice= notice
%h1 Districts
%table
  %thead
    %tr
      %th Name
      %th State
      %th{:colspan => "3"}
  %tbody
    - @districts.each do |district|
      %tr
        %td= district.name
        %td= district.state_id
        %td= link_to 'Show', district
        %td= link_to 'Edit', edit_district_path(district)
        %td= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New District', new_district_path
