<h1 class="h1 color-red"><%= @category.name %></h1>
<h2 class="col-8 body-large"><%= @category.description %></h2>

<% @category.subcategories.each do |subcategory| %>
  <section class="section">
    <h2 class="h2 mb-7"><%= subcategory.name %></h2>

    <div class="d-flex justify-space-between align-items-end">
      <div>
        <%= render partial: "gauge_graph", locals: { gauge: subcategory.gauge_presenter, gauge_class: 'gauge-graph-lg' } %>
      </div>
      <h2 class="body-large mx-7"><%= subcategory.description %></h2>
    </div>
  </section>
<% end %>
