%p
  %strong Name:
  = @school.name
%p
  %strong District:
  = @school.district_id

%p= link_to "Add Recipient", new_school_recipient_path(@school)

%p= link_to "Bulk Add Recipients", import_school_recipients_path(@school)

= link_to 'Edit', edit_school_path(@school)
|
= link_to 'Back', root_path

- @school.recipients.each do |recipient|
  .recipient
    %p
      %strong= recipient.name
      = recipient.phone
