<div id="<%= measure_presenter.id %>" class="measure-section mx-4">
  <p class="construct-id">Measure <%= measure_presenter.id %></p>
  <h3 class="measure-description sub-header-4 mb-5 "><%= measure_presenter.name %></h3>
  <div>
    <%= render partial: "gauge_graph", locals: { gauge: measure_presenter.gauge_presenter, gauge_class: 'gauge-graph-sm', font_class: 'weight-700' } %>
  </div>
  <p class="measure-description body-small mt-5 mb-4"><%= measure_presenter.description %></p>

  <div class="measure-accordion accordion" id="<%= measure_presenter.data_item_accordion_id %>">
    <%= render partial: "data_item_section", collection: measure_presenter.data_item_presenters %>
  </div>
</div>
