<div id="<%= measure_presenter.id %>" class="measure-section mx-4">
  <p class="construct-id"><%= measure_presenter.title %></p>
    <%= link_to(district_school_analyze_index_path(@district, @school, { academic_year: @academic_year.range, category: measure_presenter.measure.subcategory.category.category_id, subcategory: measure_presenter.measure.subcategory.subcategory_id, anchor: measure_presenter.id}), class: "measure-description sub-header-4 mb-5") do %>
      <h3 class="measure-description sub-header-4 mb-5 "><%= measure_presenter.name %></h3>
    <% end %>
  <div>
    <%= render partial: "gauge_graph", locals: { gauge: measure_presenter.gauge_presenter, gauge_class: 'gauge-graph-sm', font_class: 'weight-700' } %>
  </div>
  <p class="measure-description body-small mt-5 mb-4"><%= measure_presenter.description %></p>

  <div class="measure-accordion accordion" id="<%= measure_presenter.data_item_accordion_id %>">
    <%= render partial: "data_item_section", collection: measure_presenter.data_item_presenters %>
  </div>
</div>
