= render 'layouts/school_header'

.row
  .col-12
    %p
      = render 'categories/breadcrumbs', school_category: @school_category

.row
  .col-12
    .school_category.p-2
      %h3.title.text-center.pt-3
        = @category.name

      %p= @category.description
      %p
        - if @school_category.response_count > 0
          %b Total&nbsp;Responses:
          = number_with_delimiter(@school_category.response_count)

          &nbsp; &nbsp; &nbsp;

          %b Average&nbsp;Response:
          = @school_category.answer_index_average.round(1)
          (out of 5)

        - if @school_category.response_count > 0 && @school_category.zscore.present?
          &nbsp; &nbsp; &nbsp;

        - if @school_category.zscore.present?
          %b Administrative&nbsp;Data:
          - if @school_category.nonlikert.present?
            = @school_category.nonlikert
            = "(Benchmark: #{@school_category.category.benchmark})"
            &nbsp;
          - if @school_category.zscore.present?
            = @school_category.zscore.round(1) + 3
            (out of 5)

        %b Valid&nbsp;Children:
        = @school_category.valid_child_count || "N/A"


      .indicator-container.py-3
        = render 'school_categories/indicator', info: @school_category

- unless @school.district.name == "Boston" && @category.slug == "effective-leadership"
  - if @child_school_categories.present?
    .row
      = render @child_school_categories

  - if @questions.present?
    .row
      = render @questions

= render "shared/performance_spectrum"
