- valid = @school_category.school.district.name != "Boston" || (@school_category.valid_child_count || 1) > 0

= render 'layouts/school_header'

.row
  .col-12
    %p
      = render 'categories/breadcrumbs', school_category: @school_category

.row
  .col-12
    .school_category.p-2
      %h3.title.text-center.pt-3
        = @category.name

      %p= @category.description
      - if valid
        -# %p
        -#   - if @school_category.response_count > 0
        -#     %b Average:
        -#     - likert = @school_category.answer_index_average
        -#     - zscore = @school_category.zscore.present? ? @school_category.zscore + 3 : nil
        -#     - likert = zscore if zscore.present?
        -#     - likert = likert.round(1)
        -#     = number_with_delimiter(likert)

        .indicator-container.py-3
          = render 'school_categories/indicator', info: @school_category
      - else
        .row.py-4
          .col-12.text-center
            .px-2
              %h5 Insufficient Responses
              %p No data is displayed for this measure because of insufficient responses.

- unless @school.district.name == "Boston" && @category.slug == "effective-leadership"
  - if @child_school_categories.present?
    .row
      = render @child_school_categories

  - if @questions.present?
    .row
      = render @questions

= render "shared/performance_spectrum"
