= render 'layouts/school_header'

.row
  .col-12
    %p
      = render 'categories/breadcrumbs', school_category: @school_category

.row
  .col-12
    .school_category.p-2
      %h3.title.text-center.pt-3
        = @category.name

      %p= @category.description
      %p
        %b Total&nbsp;Responses:
        = number_with_delimiter(@school_category.response_count)

        &nbsp; &nbsp; &nbsp;

        %b Average&nbsp;Response:
        = @school_category.answer_index_average.round(1)
        (out of 5)

      .indicator-container.py-3
        = render 'school_categories/indicator', info: @school_category

- if @child_school_categories.present?
  .row
    = render @child_school_categories

- if @questions.present?
  .row
    = render @questions
