%p
  %b School:
  = link_to @school.name, school_admin_path(@school)
%p
  %b Name:
  = @recipient_list.name
%p
  %b Description:
  = @recipient_list.description

%p
  = link_to 'Edit', edit_school_recipient_list_path(@recipient_list.school, @recipient_list)
  |
  = link_to 'Back', @recipient_list.school

%br
%br
  
%p
  %b Recipients:
  - @recipient_list.recipients.each do |recipient|
    %p= link_to recipient.name, [@school, recipient]
