.row
  .col
    =# link_to(image_tag(@district.logo), @district) if @district.present?
    %h2= link_to @school.name, @school
    = simple_format(@school.description)
    - if @year.present?
      %p
        Data from
        = "#{@year - 1}-#{@year}"
        school year.
    - if @years.present?
      %p
        Show year:
        - @years.each do |year|
          - if @school_category.present?
            = link_to("#{year - 1}-#{year}", school_category_path(@school_category.school, @school_category.category, year: year))
          - else
            = link_to("#{year - 1}-#{year}", school_path(@school, year: year))
    - if @school.district.present?
      %p
        %strong District:
        = link_to @school.district.name, @school.district
